*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 100px 0px 0px 200px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 70px;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    transition: all 1s ease-in-out;

}
a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}
